@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000 !important;
}

.login-box{
    position: relative;
    width: 450px;
    height: 400px;
    background: red;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 2em;
    text-align: center;
    color: #fff;
}

.input-box{
    position: relative;
    width: 310px;
    margin: 30px 0;
    border-bottom: 2px solid #fff;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    pointer-events: none;
    color: #fff;
    transition: .5s;
}
.input-box input:focus ~ label,
.input-box input:not(:placeholder-shown) ~ label {
    top: -6px;
}          
.input-box input{
    width: 100%;
    background: transparent;
    outline: none;
    border: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
    margin: 0;

}

.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
    top: 50%;
    transform: translateY(-50%);

}

.remember-forgot{
    margin: -15px 0 15px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: space-between;

}

.remember-forgot label input {
    margin-right:3px;
}

.remember-forgot a {
    color: #ffffff;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

button{
    width: 100%;
    height: 40px;
    border-radius: 40px !important;
    font-size: 1em;
    border: none;
    outline: none;
    background: #fff;
    color: #000;
    font-weight: 500;
    cursor: pointer;
    
}

.register-link {
    font-size: .9em;
    color: #fff;
    margin: 25px 0 10px;
    text-align: center;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}